<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
</ion-list>
<ion-button expand="block" (click)="onLogin()">Sign In</ion-button>
<ion-button expand="block" color="success">Sign Up</ion-button>

</ion-content>
