<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item>
    <ion-label>Email: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Last Name:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-list>

<ion-button expand="full" color="success">Sign UP</ion-button>
<ion-button expand="full" color="danger">Reset</ion-button>

</ion-content>
