#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#map {
  min-height: 100%;
  
  .map-base {

    width: 100%;
    height: 100%;
    

    .leaflet-control-attribution {

      color: blue;
      background-color: darken(black, 5);

      a {
        color: #009ddb;
      }

    }
  }

}
#map-marker {

  &[class*="shadow"] {
    filter: blur(5px);
    opacity: .7;
  }

}
#icon-marker {

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: .7em;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.774);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, .9);

  @media(hover: hover) and (pointer: fine) {
    &:hover {
      .icon-marker-tooltip {
        display: block;
      }
    }
  }

}

#icon-marker-tooltip {

  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: rgba(0, 238, 255, 0.63);
  border-radius: .4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, .9);

  &:before {
    display: block;
    position: absolute;
    bottom: -.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: rgb(150, 221, 243);
    transform: rotate(45deg);
    margin-left: -.7em;
  }

 

  h3 {
    color: blue;
    font-size: 1.2em;
    margin: .1em 0;
    font-weight: normal;
    color: blue-grey-100;
  }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: .6em 0 0;
  }

}

#h2 {
  color: blue;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: .1em;
  margin-top: 0;
}